.footer {
  background-color: #333a44;
  &__container {
    padding-top: 32px;
    padding-bottom: 32px;
    @include df-row-between-center;
    gap: 0px;
  }

  &__left-box {
    @include df-row-center-center;
    gap: 58.18px;
  }
  &__logo-link {
    transition: 100ms ease all;
    &:active {
      transition: 100ms ease all;
      opacity: 0.4;
    }
  }
  &__logo-image {
    vertical-align: middle;
  }
  &__list {
    @include df-row-center-center;
    gap: 32px;
  }
  &__lists {
  }
  &__links.online .footer__links-texts {
    color: $yellow;
  }
  &__links-texts {
    color: $dim__grey;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
  }
  &__icons-box {
    @include df-row-center-center;
    gap: 34px;
  }
  &__icon-links {
    width: 24px;
    height: 24px;
  }
}
.fa-brands {
  color: #fcb72b;
  transition: 450ms ease all;
  &:hover {
    transition: 450ms ease all;
    color: #e5ecf4;
  }
}
@media (max-width: 1024px) {
  .footer {
    background-color: #333a44;
    &__container {
      padding: 22px 40px;
      @include df-row-between-center;
      gap: 0px;
    }

    &__left-box {
      @include df-row-center-center;
      gap: 58.18px;
    }
    &__logo-link {
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        opacity: 0.4;
      }
    }
    &__logo-image {
      vertical-align: middle;
    }
    &__list {
      @include df-row-center-center;
      gap: 32px;
    }
    &__lists {
    }
    &__links.online .footer__links-texts {
      color: $yellow;
    }
    &__links-texts {
      color: $dim__grey;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
    }
    &__icons-box {
      @include df-row-center-center;
      gap: 34px;
    }
    &__icon-links {
      width: 24px;
      height: 24px;
    }
  }
  .fa-brands {
    color: #fcb72b;
    &:active {
      color: #e5ecf4;
    }
  }
}
@media (max-width: 767px) {
  .footer {
    background-color: #333a44;
    &__container {
      padding: 67px 24px 85px 24px;
      @include df-column-center-center;
      gap: 85px;
    }

    &__left-box {
      @include df-column-center-center;
      gap: 42px;
    }
    &__logo-link {
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        opacity: 0.4;
      }
    }
    &__logo-image {
      vertical-align: middle;
    }
    &__list {
      @include df-column-center-center;
      gap: 16px;
    }
    &__lists {
    }
    &__links.online .footer__links-texts {
      color: $yellow;
    }
    &__links-texts {
      color: $dim__grey;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0px;
    }
    &__icons-box {
      @include df-row-center-center;
      gap: 44px;
    }
    &__icon-links {
      width: 24px;
      height: 24px;
    }
  }
  .fa-brands {
    color: #fcb72b;
    &:active {
      color: #e5ecf4;
    }
  }
}