.header {
  &__container {
    padding-top: 22px;
    padding-bottom: 22px;
    @include df-row-between-center;
  }
  &__left-box {
    @include df-row-center-center;
    gap: 58.18px;
  }
  &__logo-link {
    transition: 100ms ease all;
    &:active {
      transition: 100ms ease all;
      opacity: 0.4;
    }
  }
  &__logo-image {
    vertical-align: middle;
  }
  &__nav {
    display: block;
  }
  &__list {
    @include df-row-center-center;
    gap: 32px;
  }
  &__lists {
  }
  &__links {
  }
  &__links-texts {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $dim__grey;
  }
  &__button {
    @include template-button;
    display: block;
  }
  &__burger-button {
    display: none;
    border: none;
    outline: none;
    background: none;
  }
  &__open-burger-icon {
    vertical-align: middle;
  }
  &__close-burger-icon {
    display: none;
    vertical-align: middle;
  }
  &__mb-nav {
    z-index: 1110;
    position: fixed;
    top: 77px;
    left: 0;
    padding: 64px 0 24px 24px;
    width: 80%;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 500ms ease;
    background-color: #333a44;
  }
  &__mb-nav.active {
    transition: all 500ms ease;
    transform: translateX(0);
  }
  &__mb-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
  }
  &__mb-lists {
  }
  &__mb-links {
  }
  &__mb-links-texts {
    color: $light__grey;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0px;
    &:visited {
      color: $yellow;
    }
  }
  &__mb-button {
    display: none;
    margin-top: 337px;
    @include template-button;
  }
  &__mb-test-button {
    display: none;
    opacity: 0;
    border: none;
    outline: none;
    background: none;
  }
  &__mb-test-icon {
    vertical-align: middle;
  }
}
@media (max-width: 1024px) {
  .header {
    &__container {
      padding: 22px 40px;
      @include df-row-between-center;
    }
    &__left-box {
      @include df-row-center-center;
      gap: 58.18px;
    }
    &__logo-link {
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        opacity: 0.4;
      }
    }
    &__logo-image {
      vertical-align: middle;
    }
    &__nav {
      display: block;
    }
    &__list {
      @include df-row-center-center;
      gap: 32px;
    }
    &__lists {
    }
    &__links {
    }
    &__links-texts {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__button {
      @include template-button;
      display: block;
    }
    &__burger-button {
      display: none;
      border: none;
      outline: none;
      background: none;
    }
    &__open-burger-icon {
      vertical-align: middle;
    }
    &__close-burger-icon {
      display: none;
      vertical-align: middle;
    }
    &__mb-nav {
      z-index: 1110;
      position: fixed;
      top: 77px;
      left: 0;
      padding: 64px 0 24px 24px;
      width: 80%;
      height: 100vh;
      transform: translateX(-100%);
      transition: all 500ms ease;
      background-color: #333a44;
    }
    &__mb-nav.active {
      transition: all 500ms ease;
      transform: translateX(0);
    }
    &__mb-list {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 24px;
    }
    &__mb-lists {
    }
    &__mb-links {
    }
    &__mb-links-texts {
      color: $light__grey;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0px;
      &:visited {
        color: $yellow;
      }
    }
    &__mb-button {
      display: none;
      margin-top: 337px;
      @include template-button;
    }
    &__mb-test-button {
      display: none;
      opacity: 0;
      border: none;
      outline: none;
      background: none;
    }
    &__mb-test-icon {
      vertical-align: middle;
    }
  }
}
@media (max-width: 767px) {
  .header {
    &__container {
      padding: 24px 24px;
      @include df-row-reverse-between-center;
    }
    &__left-box {
    }
    &__logo-link {
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        opacity: 0.4;
      }
    }
    &__logo-image {
      vertical-align: middle;
    }
    &__nav {
      display: none;
    }
    &__list {
    }
    &__lists {
    }
    &__links {
    }
    &__links-texts {
    }
    &__button {
      display: none;
    }
    &__burger-button {
      display: block;
      border: none;
      outline: none;
      background: none;
    }
    &__open-burger-icon {
      vertical-align: middle;
    }
    &__close-burger-icon {
      display: none;
      vertical-align: middle;
    }
    &__mb-nav {
      z-index: 1110;
      position: fixed;
      top: 77px;
      left: 0;
      padding: 64px 0 24px 24px;
      width: 80%;
      height: 100vh;
      transform: translateX(-100%);
      transition: all 500ms ease;
      background-color: #333a44;
    }
    &__mb-nav.active {
      transition: all 500ms ease;
      transform: translateX(0);
    }
    &__mb-list {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 24px;
    }
    &__mb-lists {
    }
    &__mb-links {
    }
    &__mb-links-texts {
      color: $light__grey;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0px;
      &:visited {
        color: $yellow;
      }
    }
    &__mb-button {
      display: block;
      margin-top: 337px;
      @include template-button;
    }
    &__mb-test-button {
      display: block;
      opacity: 0;
      border: none;
      outline: none;
      background: none;
    }
    &__mb-test-icon {
      vertical-align: middle;
    }
  }
}