.hero {
  position: relative;
  padding-top: 153px;
  padding-bottom: 152px;
  width: 100%;
  background-image: url("../../images/hero__background.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 103px;
    height: 15px;
    left: 0;
    bottom: 280px;
    background-image: url("../../icons/path.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 234px;
    height: 62px;
    right: 80px;
    bottom: 45.5px;
    background-image: url("../../icons/triple__circles.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__container {
    padding-left: 40px;
    padding-right: 40px;
    @include df-column-center-start;
  }
  &__box {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  &__title {
    width: 500px;
    text-align: start;
    font-family: "Space Mono";
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white;
    margin-bottom: 40px;
  }

  &__mini-box {
    position: relative;
    margin-left: auto;
    @include df-column-center-start;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 446.38px;
      height: 137.44px;
      left: 440px;
      top: 50px;
      background-image: url("../../icons/right__vector-tb.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__text {
    width: 405px;
    text-align: start;
    font-family: "Lexend Deca";
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $white;
    margin-bottom: 40px;
  }

  &__button {
    @include template-button;
  }
}
@media (max-width: 1024px) {
  .hero {
    position: relative;
    padding-top: 137px;
    padding-bottom: 217px;
    width: 100%;
    background-image: url("../../images/hero__background-tb.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      content: "";
      position: absolute;
      display: none;
      width: 103px;
      height: 15px;
      left: 0;
      bottom: 280px;
      background-image: url("../../icons/path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 325px;
      height: 151px;
      left: 0;
      bottom: 40px;
      background-image: url("../../icons/right__vector-tb.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 203px;
      height: 63px;
      right: 0;
      bottom: 45.5px;
      background-image: url("../../icons/triple__circles-tb.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-left: 40px;
      padding-right: 40px;
      @include df-column-center-center;
    }
    &__box {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__title {
      width: 573px;
      text-align: center;
      font-family: "Space Mono";
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
      margin-bottom: 24px;
    }
    &__mini-box {
      margin-left: 0;
      @include df-column-center-center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        display: none !important;
        width: 446.38px;
        height: 137.44px;
        left: 440px;
        top: 50px;
        background-image: url("../../icons/right__vector-tb.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &__text {
      width: 573px;
      text-align: center;
      font-family: "Lexend Deca";
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
      margin-bottom: 32px;
    }
    &__button {
      @include template-button;
    }
  }
}
@media (max-width: 767px) {
  .hero {
    position: relative;
    padding-top: 115px;
    padding-bottom: 179px;
    width: 100%;
    background-image: url("../../images/hero__background-mb.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 140px;
      height: 151px;
      left: 0;
      bottom: 35px;
      background-image: url("../../icons/right__vector-mb.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::after {
      content: "";
      position: absolute;
      display: none;
      width: 203px;
      height: 63px;
      right: 0;
      bottom: 45.5px;
      background-image: url("../../icons/triple__circles-tb.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-right: 24px;
      padding-left: 24px;
      @include df-column-center-center;
    }

    &__title {
      width: 100%;
      text-align: center;
      font-family: "Space Mono";
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.79px;
      color: $white;
      margin-bottom: 24px;
    }

    &__mini-box {
      @include df-column-center-center;
    }

    &__text {
      width: 100%;
      text-align: center;
      font-family: "Lexend Deca";
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
      margin-bottom: 34px;
    }

    &__button {
      @include template-button;
    }
  }
}
