.location {
  width: 100%;
  position: relative;
  background-image: url("../../images/careers__background.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 203px;
    height: 63px;
    bottom: 62px;
    right: 0;
    background-image: url("../../icons/triple__circles-tb.svg");
  }
  &__container {
    padding-top: 72px;
    padding-bottom: 72px;
    @include df-row-center-start;
  }
  &__title {
    margin-right: auto;
    font-family: "Space Mono";
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white;
  }
}
@media (max-width: 1024px) {
  .location {
    position: relative;
    width: 100%;
    background-image: url("../../images/careers__background-tb.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 203px;
      height: 63px;
      bottom: 68px;
      right: 0;
      background-image: url("../../icons/triple__circles-tb.svg");
    }
    &__container {
      padding: 164px 40px 72px 40px;
      @include df-row-center-start;
    }
    &__title {
      margin-right: auto;
      font-family: "Space Mono";
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
    }
  }
}
@media (max-width: 767px) {
  .location {
    width: 100%;
    background-image: url("../../images/careers__background-mb.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      display: none;
      width: 203px;
      height: 63px;
      bottom: 68px;
      right: 0;
      background-image: url("../../icons/triple__circles-tb.svg");
    }
    &__container {
      padding: 120px 24px 60px 24px;
      @include df-row-center-center;
    }

    &__title {
      margin-right: 0;
      font-family: "Space Mono";
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.79px;
      color: $white;
    }
  }
}
