.map {
  margin-top: 120px;
  &__container {
    @include df-column-center-center;
    gap: 0px;
  }
  &__icon-map {
    width: 100%;
    display: block;
  }
  &__icon-map-second {
    display: none;
    width: 100%;
  }
  &__box {
    display: none;
    width: 100%;
    @include df-column-center-center;
    gap: 16px;
  }
  &__name-places {
    display: none;
    border: 2px solid $light__yellow;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 22px;
    width: 100%;
    background-color: $light__yellow;
    color: $dark__navy;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    transition: 100ms ease all;
    &:active {
      transition: 100ms ease all;
      background-color: inherit;
      color: $light__yellow;
    }
  }
}
@media (max-width: 1024px) {
  .map {
    margin-top: 144px;
    &__container {
      padding-right: 40px;
      padding-left: 40px;
      @include df-column-center-center;
      gap: 0px;
    }
    &__icon-map {
      width: 100%;
      display: block;
    }
    &__icon-map-second {
      display: none;
      width: 100%;
    }
    &__box {
      display: none;
      width: 100%;
      @include df-column-center-center;
      gap: 16px;
    }
    &__name-places {
      display: none;
      border: 2px solid $light__yellow;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 22px;
      width: 100%;
      background-color: $light__yellow;
      color: $dark__navy;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07px;
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        background-color: inherit;
        color: $light__yellow;
      }
    }
  }
}
@media (max-width: 767px) {
  .map {
    margin-top: 72px;
    &__container {
      padding-right: 24px;
      padding-left: 24px;
      @include df-column-center-center;
      gap: 40px;
    }
    &__icon-map {
      width: 100%;
      display: none;
    }
    &__icon-map-second {
      width: 100%;
      display: block;
    }
    &__box {
      display: block;
      width: 100%;
      @include df-column-center-center;
      gap: 16px;
    }
    &__name-places {
      display: block;
      border: 2px solid $light__yellow;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 22px;
      width: 100%;
      background-color: $light__yellow;
      color: $dark__navy;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07px;
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        background-color: inherit;
        color: $light__yellow;
      }
    }
  }
}